section {
  border: solid 1px #155eef;
  border-radius: 10px;
}
li {
  list-style: none;
  display: inline;
  padding-left: 100px;
}
.topnavbar_right {
  float: right;
}
.topnav {
  overflow: hidden;
  border: solid 2px #155eef;
  border-radius: 10px;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
}
img {
  width: 200px;
  padding-left: 30px;
}
.hireme {
  padding-right: 50px;
}
footer {
  border: solid 2px #155eef;
  border-radius: 10px;
}
.flex-container {
  display: flex;
  justify-content: space-around;
}
i {
  color: #155eef;
  padding-left: 10px;
  padding-right: 10px;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
}
.flex-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
