.container {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}
section {
  border: solid 2px #155eef;
  border-radius: 10px;
}
li {
  list-style: none;
  display: inline;
}
.topnavbar_right {
  float: right;
}
.topnav {
  overflow: hidden;
  border: solid 2px #155eef;
  border-radius: 10px;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
  padding-right: 40px;
  font-weight: bold;
}
img {
  width: 200px;
  padding-left: 30px;
  border: 2px;
}
.hireme {
  border: #155eef solid 1px;
  border-radius: 10px;
  padding: 10px;
}
footer {
  border: solid 2px #155eef;
  border-radius: 10px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
i {
  color: #155eef;
  padding-left: 20px;
  padding-right: 20px;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
}
.flex-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1 {
  background-color: #f9fbff;
  margin-bottom: 40px;
  padding-bottom: 70px;
  padding-top: 70px;
}
.section1 .flex-container2 {
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.flex-container3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.section2 {
  margin-bottom: 40px;
  padding-right: 40px;
}
button {
  background-color: #155eef;
  border-radius: 5px;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 30px;
}
.image1 {
  width: 400px;
}
h1 {
  color: #155eef;
  font-size: 2rem;
}
.aboutme {
  margin-left: 70px;
}
.pied {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  line-height: 2;
  font-family: Arial, Helvetica, sans-serif;
}
.nav {
  padding-right: 70px;
}
.hireme a {
  color: #155eef;
}
.text2 {
  text-align: justify;
}
